{% extends 'base.html' %}

{% block content %}

<div style="width: 500px; border: 1px dotted black; padding: 10px; margin: 20px auto;">
	{{user.get_profile.name}} 님의 현재 접속 시간은 {{hours}}시간 {{mins}}분입니다.
</div>

{% for forum in forums %}
<div style="float: left; margin-right: 20px;">
	<a href="{% url nine_pm.views.forum forum.id %}" style="display: block;">
		<img src="{{forum.img.url}}" alt="{{forum.name}}" style="width: 300px;" />
	</a>
	<span style="font-size: 20px;">{{forum.name}}</span>
</div>
{% endfor %}

{% endblock %}
